@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');



.image {
    transform: scale(0.7);
    margin-top: -8%;
    display: flex;
    justify-content: center;
}
.img {
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: center;
}
.navbar a {
    margin: 0 3.5%;
    font-size: 1.1rem;
    text-decoration: none;
}
.navbar a p {
    color: #666;
}
ul {
    position: absolute;
    z-index: 1;
    list-style-type: none;
    margin: -15px 0;
}
li {
    color: #666;
}
h3 {
    margin: 10% 5%;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 2.0rem;
}
.interesthover {
    
}

h3 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end) infinite,
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }