@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

.header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image1 {
    transform: scale(0.7);
    display: flex;
    justify-content: center;
    margin-bottom: -10%;
}
.image2 {
    margin-top: -10%;
    transform: scale(0.7);
    display: flex;
    justify-content: center;
}
.img {
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: center;
}
.navbar a {
    margin: 0 3.5%;
    font-size: 1.1rem;
    text-decoration: none;
}
.navbar a p {
    color: #666;
}
ul {
    position: absolute;
    z-index: 1;
    list-style-type: none;
    margin: -15px 0;
}
li {
    z-index: 2;
    color: #666;
}
h3 {
    padding-left: 1.2%;
    text-align: left;
    font-family: sans-serif;
    font-size: 2.0rem;
    color: #ABB2BF;
}
.code-block {
  width: 700px;
  height: 800px;
  border-radius: 5px;
  background: #24262A;
  padding: 50px 0;
}
#headers-low {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #111214;
}
.i {
  color: #C678DD;
}
#headers-low > div {
  margin: 1% 0.5%;
  
}
.b {
  color: #1a255f;
}
.p {
  color: #308ac5;
}
.y {
  color: #B49438;
}

