@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
a {
  text-decoration: none;
}
.header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5.65%;
}

.image1 {
    transform: scale(0.7);
    display: flex;
    justify-content: center;
    margin-bottom: -10%;
}
.image2 {
    margin-top: -10%;
    transform: scale(0.7);
    display: flex;
    justify-content: center;
}
.img {
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: center;
}
.navbar a {
    margin: 0 3.5%;
    font-size: 1.5rem;
    text-decoration: none;
}
.navbar a p {
    color: #666;
}
.navbar a:hover p{
  transition: color 0.1s;
  color: rgb(153, 153, 153);
}

ul {
    position: absolute;
    z-index: 1;
    list-style-type: none;
    
}
li {
    z-index: 2;
    color: #666;
}
h3 {
    padding-left: 1.2%;
    text-align: left;
    font-family: sans-serif;
    font-size: 2.0rem;
    color: #ABB2BF;
}
.code-block {
  margin-top: 5%;
  width: auto;
  height: auto;
  border-radius: 5px;
  background: #24262A;
  padding: 50px 50px;
  min-width: 750px;
}
#headers-low {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #111214;
}
.i {
  color: #C678DD;
}
#headers-low > div {
  margin: 1% 0.5%;
}
.b {
  color: #1135e7;
}
.p {
  color: #308ac5;
}
.y {
  color: #B49438;
}
.r {
  color: #A26447;
}
.u {
  color: #98BE5E;
}
.photo-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photo {
  width: 750px;
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
}
.left-arrow {
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1/2;
}
.main-img {
  margin-bottom: 2.5%;
  grid-column: 1/4;
  grid-row: 1/2;
}
.right-arrow {
  grid-column: 3/4;
  grid-row: 1/2;
  z-index: 1;
}
.main-img > img {
  object-fit: cover;
  text-align: center;
  width: 100%;
}
.photo1, .photo2, .photo3, .photo4, .photo5 {
  width: 125px;
}
.photos {
  display: flex;
  justify-content: center;
}
#pho {
  margin: 1% 0.01%;
}
#pho > a > img {
  object-fit: cover;
  text-align: center;
  width: 100%;
}
.right-arrow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.right-arrow a{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; 
  
}
.right-arrow a:hover .arrow-boxr {
 transition: background 0.25s;
 background: rgba(168, 167, 167, 0.445);
}
.right-arrow a:hover .arrow-boxr .arrowr {
  transition: border-left 0.25s;
  border-left: 30px solid #24262a83;
 }
 .left-arrow a:hover .arrow-boxl {
  transition: background 0.25s;
  background: rgba(168, 167, 167, 0.445);
 }
 .left-arrow a:hover .arrow-boxl .arrowl {
   transition: border-right 0.25s;
   border-right: 30px solid #24262a83;
  }
.left-arrow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.left-arrow a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.arrow-boxr {
  width: 50px;
  height: 80px;
  background: rgba(148, 147, 147, 0.445);
}
.arrow-boxl {
  width: 50px;
  height: 80px;
  background: rgba(148, 147, 147, 0.445);
}
.arrowr {
  width: 0;
  height: 0;
  margin: 21px auto;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 30px solid #24262ab9;
}
.arrowl {
  width: 0;
  height: 0;
  margin: 21px auto;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 30px solid #24262ab9;
}

.git-card {
  position: absolute;
  margin-left: -10%;
}
.linkedin-card {
  position: absolute;
}
.all-work {
  margin: 7.5% auto;
  color: #24262ab4;
  text-align: center;
}
.lines {
  font-size: 1.3rem;
  color: #24262A;
}
.me {
  font-family: 'Merriweather', serif;
  text-align: center;
}
#hello{
  margin: 2.5% auto 5%;
}
#like {
  margin: 5% auto 7.5%;
}
.photo-wrap-interests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
#fs-name {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid transparent;
}
.div-form-name {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.name-inputs {
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#leg-name {
  align-self: flex-end;
  padding-bottom: 20  px;
  font-size: 1.5rem;
  grid-row: 1/2;
  text-align: left;
}
.headers-contact > h1 {
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 200%;
}

.fn {
  font-size: 1rem;
}
.ln {
  font-size: 1rem;
}
#fn-label, #ln-label {
  width: 49%;
}
#last_name, #email, #first_name, #subject, #msg  {
    width: 100%;
    padding: 12px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
}
.div-form-email, .div-form-subject, .div-form-msg, .button-form-submit {
  padding: 1.5%;
}
.email, .subject, .msg, #msg {
  font-size: 1.5rem;
  resize: vertical;
  min-height: 60px;
}
#submit {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    background-color: transparent;
    color: #24262A;
    border: 2px solid #24262A;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
}
#submit:hover {
  transition: color 0.1s, background 0.1s;
  color: #fafafa;
  background: #24262A;
}
form {
  font-family: 'Nunito', sans-serif;
  max-width: 800px;
}
.body-wrap-contact, .body-wrap-interests {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 3%;
}
.more-info {
  display: none;
}
@media only screen and (max-width: 480px) {
  
  .navbar {
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .about {
    padding: 25px 25px 0 0;
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
  }
  .github {
    padding: 0 0 15px 75px;
    z-index: 1;
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
  }
  .interests {
    padding: 15px 35px 0 0;
    z-index: 1;
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
  }
  .contact {
    padding-bottom: 25px;
    z-index: 1;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: flex-end;
    align-self: center;
  }
  .circle-dashed {
    
    grid-column: 1/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    position: relative;
    margin: 20px;
    height: 240px;
    width: 240px;
    background-color: white;
    border-radius: 50%;
  }
  .circle__spin {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 260px;
    height: 260px;
  }
  .circle__spin svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  .circle__spin circle {
    stroke-width: 6; /* control the dashes width */
    stroke-dasharray: 80, 25; /* control the dashes spacing */
    fill: none;
    stroke: #24262A;
  }
  .git-card {
    margin-left: -22%;
    left: 100px;
  }
  .code-block {
    margin: -10% 0;
    transform: scale(0.5);
  }
  .photo-wrap-interests, .photo-wrap {
    transform: scale(0.5);
  }
  .me {
    transform: scale(0.75);
  }
  .main-wrap {
    margin: -5% auto;
  }
  #like {
    line-height: 140%;
    margin: 0 auto
  }
  .img > img {
    transform: scale(0.55);
  }
  .image1 {
    margin: 0 0 -25%;
  }
  .image2 {
    margin: -15% 0;
  }
  .navbar > a:hover > p {
    transition: font-size 0.375s;
    font-size: 1.8rem;
  }
  .circle__spin svg {
    animation: spin 0.25s ease-out forwards;
  }
  @keyframes spin { 
    100% { 
      transform: rotateZ(90deg); 
    }
  }
  .photo-wrap-interests {
    margin: -20% 0;
  }
}

